body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #00b0ff;
    animation: fadeIn 2s ease-in-out;
}

.board {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.boxes {
    width: 100px;
    height: 100px;
    background-color: #1e1e1e;
    border: 2px solid #00b0ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.boxes:hover {
    transform: scale(1.1);
    background-color: #333333;
}

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #00b0ff;
    color: #121212;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #00b0ff;
}

.title img{
    width: 90px;
}

.boxes img{
    width: 70px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@media (max-width: 600px) {
    .boxes {
        width: 70px;
        height: 70px;
    }

    .title {
        font-size: 1.5rem;
    }

    .btn {
        font-size: 0.875rem;
    }
}

